<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">SecSysAppp</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
         <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> Hello {{user.name}}!</p></li>
        <li><a href="" ng-click="userLogOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Now you have logged in to the system {{user.name}}!</h1>
</div>

